In [1]:
#We want to check on our selected model and sentiment tool

In [2]:
# get some libraries that will be useful
import re
import numpy as np # linear algebra
import pandas as pd
import seaborn as sns
import string
import matplotlib.pyplot as plt
import pandas_datareader as dr
#To remove weekends from dataset
from pandas.tseries.offsets import BDay

# necessary libraries for wordcloud
from wordcloud import WordCloud
from wordcloud import STOPWORDS
from PIL import Image

# the Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
# function to split the data for cross-validation
from sklearn.model_selection import train_test_split
# function for transforming documents into counts
from sklearn.feature_extraction.text import CountVectorizer
# function for encoding categories
from sklearn.preprocessing import LabelEncoder

#to filter out selected dates from dataset
import datetime


%matplotlib inline

C:\Users\PC\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [3]:
Finaldf = pd.read_csv("../data/Final_df.csv")
Finaldf

  publishedAt                                              title
0  2020-03-16  'History will not forgive us for waiting': San...
1  2020-03-17  Singapore, Taiwan and Hong Kong Face Second Wa...
2  2020-03-18  Stock market live updates: Futures tumble, hit...
3  2020-03-19  UK braces for coronavirus shut down as London ...
4  2020-03-23          Is Trump going cold on lockdown strategy?
5  2020-03-24  Coronavirus live updates: Olympics delayed; Tr...

In [4]:
# We would need to import VIX Price first

In [5]:
price = pd.read_csv("../data/vixcurrent.csv")

In [6]:
price.tail()

          Date  VIX Open  VIX High  VIX Low  VIX Close
4091  4/3/2020     51.11     52.29    46.74      46.80
4092  4/6/2020     44.17     45.73    43.45      45.24
4093  4/7/2020     44.83     47.51    43.51      46.70
4094  4/8/2020     45.90     47.28    42.53      43.35
4095  4/9/2020     43.00     45.73    41.39      41.67

In [7]:
price[price['Date'] == '3/16/2020'] #we know its index 1156

           Date  VIX Open  VIX High  VIX Low  VIX Close
4077  3/16/2020     57.83     83.56    57.83      82.69

In [8]:
price [price['Date'] == '3/18/2020'] #we know its index 3024

           Date  VIX Open  VIX High  VIX Low  VIX Close
4079  3/18/2020     69.37     85.47    69.37      76.45

Lets test for days for 3/16/2020 to 3/18/2020

In [ ]:
X = combined_news
y = combined_news['upordown']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.10,stratify = y)